<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<title>Leather Dynamics</title>
<link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body>
<nav class="floating-nav">
  <div class="nav-brand">
    <span class="nav-dot"></span>
    Leather Dynamics
  </div>
  <div class="nav-links">
    <a href="#">Home</a>
    <a href="#">Shop</a>
    <a href="#">Our Craft</a>
    <a href="#">Contact</a>
  </div>
  <a href="#" class="nav-cta">Get in Touch</a>
</nav>

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
<script src='{% static "js/animations.js" %}'></script>
<script src='{% static "js/shop.js" %}'></script>
</body>
</html>
